
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&family=Montserrat:wght@400;500;600;700&display=swap');
@font-face {
    font-family:Begun-B;
    src: url('fonts/Begum\ W03\ Bold.ttf');
    font-display: swap;
    font-weight: normal;
}


@font-face {
    font-family:Begun;
    src: url('fonts/Begum.ttf');
    font-display: swap;
    font-weight: normal;
    font-weight: normal;
}


